body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
}

.search-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-bottom: 0px;
}

#searchBar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 4px;
}

.results-container {
    width: 100%;
    max-height: 200px; /* Adjust this value to control the height */
    overflow-y: auto;
    border: 0px solid #ccc;
    padding: 0px;
    margin-bottom: 0px;
    background-color: white;
}

.results-container p {
    margin: 0;
    padding: 2px;
    cursor: pointer;
}

.results-container p:hover {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}

#results {
    width: 103%;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px;
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.result-item p {
    margin: 2px 0;
}

.result-item:last-child {
    border-bottom: none;
}

.highlight {
    width: 104%;
    background-color: #33ccff; /* light yellow background */
    font-weight: bold;
    color: #333;
}

.hidden {
    display: none;
}

#selectedItem {
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

button {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

#usageLog {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#usageLog th, #usageLog td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}
